.container {
    background-color: #e6a36b;
    width: 80%;
    height: 100%;
    outline: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}