@import "../common/styles/sass/variables";

.mainBlock {
    height: 101vh;
    display: flex;
    background-color: $bgSecondColor;
    position: relative;
}
.mainItem{
    display: flex;
}
.info {
    //max-width: 450px;
    //width: 60%;
    background-color:  $bgSecondColor;
}
.welcome{
    color: #eee;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.title{

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin: 18px 0 10px;
    text-transform: uppercase;
}
.title .subtitle{
color:$mainColor;
}
.particles {
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}
.photo {
    width: 300px;
    //width: 40%;
    height: 400px;
    background-color: goldenrod;
}

@media screen and (max-width: 992px) {
    .info{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {

}

//.mainContainer{
//    height: 100%;
//    //flex-direction: column;
//    background-color: $bgSecondColor;
//    //align-items: center;
//    //justify-content: flex-start;
//}