.skillBlock {
    height: 100vh;
}

.skillContainer {
    background-color: #c3ea75;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    background-color: goldenrod;
}

.skills {
    width: 100%;
    outline: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}