.contactBlock {
    height: 100vh;
    background-color: #444749;
}

.contactContainer {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #444749;
}

.contactForm{
    width: 400px;
    background-color: goldenrod;
    outline: 1px solid;
}

.contactForm label {
    cursor: pointer;
}

.contactForm  .field > input:focus, textarea:focus {
    border-color: #ff3d4f;
    outline: 0px;
}

@media screen and (max-width: 624px){
    .contactFormItem{
        width: 100%;
    }
}

