
.worksBlock {
    /*min-height: 100vh;*/
    display: flex;
    background-color: #2C2D2F;
    position: relative;
}

.worksContainer {
    /*height: 100%;*/
    flex-direction: column;
    flex-wrap: nowrap;
    /*background-color: #282828;*/
    /*align-items: center;*/
    background-color: #2C2D2F;
    /*max-width: 1040px;*/
    /*width: 90%;*/
    margin: 0 auto;
}

.works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 624px ) {
    .works {
        justify-content: center;
    }
}

/* line*/
.worksBlock .line{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}
.worksBlock  .line:before {
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    /*right: -50%;*/
    /*animation: run 8s 0s infinite;*/
    /*animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);*/
    animation-fill-mode: forwards;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #ff3d4f 75%, #ff3d4f);

    animation: run 8s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}