@import "src/components/common/styles/sass/variables";

.worksBlock {
  /*min-height: 100vh;*/
  display: flex;
  background-color: $bgColor;
  position: relative;
  & .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      top: 0;
      //right: -50%;

      animation-fill-mode: forwards;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #ff3d4f 75%, #ff3d4f);
      animation: lineAnimation 6s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
  }
  .worksContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $bgColor;
    margin: 0 auto;

    .works {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 50px;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}

@keyframes lineAnimation {
from {
    right: 0%;
  }

  to {
    right: 100%;
  }
}