@import './../common/styles/sass/variables.scss';

.footerBlock {
    background-color: $bgSecondColor;
}

.footerContainer {
    height: 100%;
    flex-direction: column;
    background-color: $bgSecondColor;
    align-items: center;
    justify-content: flex-start;
}

.infoContact{
    width: 100%;
    background-color: $bgSecondColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyRight{
    padding: 20px 10px;
    display: block;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.5px;
    margin: 0;
    color: #e1e1e1;
    text-align: center;
}