/*@font-face {*/
/*  font-family: ‘Test’;*/
/*  src: url(‘/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf’)*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.65;
    color: #e1e1e1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
