
.work {
    /*width: 274px;*/
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

/* work Item */
.workItem{
    position: relative;
    display: block;
    background-color: #2C2D2F;
    border: 1px solid #222324;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
}

/* work Image */
.workImage{

}
.workImage img{
    height: 200px;
    transition: all 1s ease;
    background-size: cover;
}
.workImage img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/* work Content */
.workContent{
    padding: 28px 16px 36px;
    text-align: center;
    width: 82%;
    position: relative;
    background-color: #2C2D2F;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
/* work Content Cat */
.cat{
    color: #00A3E1;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    display: inline-block;
}
/* work Content Title */
.title{
    margin-bottom: 6px;
    font-size: 21px;
    letter-spacing: .5px;
    text-transform: capitalize;
}
/* work Content Description */
.workDescription{
    font-family: serif;
    font-style: italic;
    color: #e1e1e1;
    font-size: 14px;
}
/* media */
@media screen and (max-width: 992px) {
    .work {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .work {
        width: 100%;
    }
}
