.nav{
    width: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.nav a {
    color: #9DA1A5;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Nunito';
    text-decoration: none;
    padding: 10px 0;
}

.nav a:hover {
    color:#FF3D4F;
}